
.dropdown-select {

  position: relative;
  overflow: hidden;
  padding-bottom: 10px; 
  width: 100%; 
  padding: 10px 20px;
  min-width: 100%;
  font-size: 18px; 
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #116466;
  border-radius: 80px;
  color: white;
  margin: 0;
}

.description-container {
  
  padding: 20px; 
  margin-top: 10px; 
  border-radius: 15px;
  text-align: center;
  background-color: #116466;
}
